
{{> book_leave_modal
  container_id='book_leave_modal'
  leave_modal_form_action='/calendar/bookleave/'
}}
{{> new_expense_modal
  container_id='new_expense_modal'
  expense_modal_form_action='/expense/newexpense/'
}}

<footer class="footer custom-footer">
  <p>
    <span class="pull-left">© <a href="http://eworksystem.com">EWorkSystem.com</a> 2020</span>
  </p>
</footer>
