Expense was revoked and auto approved
=====
<p>Hello {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} cancelled</strong> expense request <strong>{{>expense_request_detail expense=expense }}</strong>.</p>

{{> email/expense_comments comments=comments }}

<p>There is no need to perform any actions regarding this expense.</p>

<p>Thanks</p>
