Expense request is awaiting decision
=====
<p>Hello <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Your expense request <strong>{{>expense_request_detail expense=expense }} was sent</strong> to {{#with approver }}{{this.full_name}}{{/with}}.</p>

{{> email/expense_comments comments=comments }}

<p>There will be another email upon decision.</p>

<p>Thanks</p>
