Reset password for eWorksSystem.com
=====
{{# with user ~}}
<p>Hello <strong>{{this.name}}</strong>,</p>

<p>Your password for {{> email/link href=(get_application_domain) text='eWorksSystem.com' }} was successfully changed.</p>

{{~/ with }}

<p>Thanks</p>
